.dashboardWrap{
    min-height: 100vh;
    height: auto;
    background-color: #F7F7F7;

    .dashboardHeader{
        height: 60px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: .3px solid rgba(111, 111, 111, 0.173);

        .username{
            margin-left: 50px;
        }

        .Btn{
            margin-left: 90px;
        }

        .logoutBtn, .Btn{
            margin-right: 50px;
            text-decoration: none;
            padding: 10px 15px;
            padding-bottom: 12px;
            color: rgba(255, 255, 255, 0.865);
            background-color: #017BFE;
            border-radius: 5px;
            font-variant: all-small-caps;
            font-size: 15px;
            font-weight: 600;
            transition: ease-in-out .1s;
        }
        .logoutBtn:hover, .Btn:hover{
            background-color: #5C8FC9;
        }
    }

    .dashboardBody{
        width: 50%;
        margin: 0 auto;

        .profileInfo{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;

            .totalTasks{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 200px;
                height: 250px;
                padding: 90px 0px;
                background-color: white;
                box-shadow: 0 0 0 1px rgba(65, 65, 65, 0.125);
                border-radius: 10px;

                span{
                    margin-bottom: 10px;
                }

                .header{
                    font-size: 16px;
                    font-weight: 600;
                    color: black;
                }

                .total{
                    font-size: 30px;
                    font-weight: 600;
                    color: black;
                }
            }

            .finishedTasks{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 200px;
                height: 250px;
                padding: 90px 0px;
                background-color: white;
                box-shadow: 0 0 0 1px rgba(65, 65, 65, 0.125);
                border-radius: 10px;

                span{
                    margin-bottom: 10px;
                }

                .header{
                    font-size: 16px;
                    font-weight: 600;
                    color: black;
                }

                .total{
                    font-size: 30px;
                    font-weight: 600;
                    color: black;
                }
            }
        }
    }

    .latestTasksWrap{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .latestTasks{
            display: flex;
            flex-direction: column;
            border: solid 1px black;
            width: 600px;
            margin-bottom: 50px;

        }

        .latestTasksHeader{
            background-color: grey;
            text-align: center;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        .latestTasksBody{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            text-align: center;
            line-height: 25px;
            min-height: 100px;
            max-height: 250px;
            height: auto;
        }

        .noTasks{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            text-align: center;
            font-style: italic;
            font-weight: 300;
            color: rgb(31, 31, 31);
            line-height: 25px;
            min-height: 100px;
            max-height: 250px;
            height: auto;
        }

        .latestTasksFooter{
            background-color: grey;
            text-align: center;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-variant: all-small-caps;
            font-size: 20px;

            a{
                text-decoration: none;
                color: white;
                padding-bottom: 5px;
            }
        }

    }
    
}
